* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; 
}

:root {
    --main-color: #CC8B86;
    --secondary-color: #F9EAE1;
    --additional-secondary: #eccfbc;
    --color-grey: #cccccc;
    --additional-grey: #ABABAB;
    --color-text: black;
    --color-white: rgb(252, 252, 252);
 }

body {
    min-width: 320px;
}


a {
    text-decoration: none;  
}

ul {
    list-style: none;
}

/*=======menu hamburger and nav======*/

.nav {
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px 20px 50px;
    right: 0;
    left: 0; 
}

.logo {
    color: var(--secondary-color);
    font-size: 27px;
    font-weight: bold;
}


.menu {
    display: none;
    max-height: 0; 
    overflow: hidden;
    position: absolute;
    text-align: center;
    background-color: var(--color-grey);
    right: 0;
    left: 0; 
    line-height: 2;
    margin-top: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
 }

.menu li a {
    color: var(--color-text);
}

.menu a:hover {
    transition: all .3s;
    color: var(--additional-secondary);
}

.menu li {
    transition: all .5s;
    padding: 5px 15px;
}

.menu li:hover {
    background-color: var(--additional-grey);
}

.menu li a:hover{
    color: var(--color-grey);
}

#menu-toggle {
    display: none;
}

.burger {
    display: block;
    font-size: 24px;
    cursor: pointer;
    margin-bottom: 20px;
}

.line-burger { 
    background-color: var(--secondary-color);
    display: block;
    position: relative;
    height: 2.5px;
    width: 24px;
    margin-top: 20px;
}

.line-burger::before,
.line-burger::after {
    background-color: var(--secondary-color);
    content: "";
    display: block;
    position: absolute;
    transition: all .3s;
    width: 100%;
    height: 100%;
}
.line-burger::before {
    top: 7px;
}
.line-burger::after {
    top: -7px;
}

.shopping {
    width: 24px;
    height: 24px;  
}

#menu-toggle:checked ~ .menu {
    display: block;
    max-height: 100%;
    transition: all .5s;
}

#menu-toggle:checked ~ .burger .line-burger {
    background-color: transparent;
}

#menu-toggle:checked ~ .burger .line-burger::before {
    transform: rotate(-45deg);
    top: 0;
}

#menu-toggle:checked ~ .burger .line-burger::after {
    transform: rotate(45deg);
    top: 0;
}


/*=======articles======*/

.about {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 50px 20px 50px;
}
h4{
    font-size: 16px;
    padding-top: 25px;
    padding-bottom: 10px;
}

.text-details{
    font-size: 14px;
    line-height: 1.5;
}

.description {
    padding: 15px 50px 20px 50px; 
}

h2 {
    color: var(--main-color);
    font-size: 27px;
    font-weight: 600;
    padding-bottom: 10px;
}
h3 {
    color: var(--color-grey);
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 10px;
}
 .description_first_p {
    font-size: 14px;
    padding-bottom: 10px;
 }

 .description_second_p {
    font-size: 14px;
    color: var(--color-grey);
    padding-bottom: 20px;
 }

 .btn_comprar {
    width: 180px;
    height: 35px;
    background-color: var(--main-color);
    font-size: 14px;
    color: var(--secondary-color);
    padding: 5px;
    border: none;
    border-radius: 3px;
    margin-bottom: 20px;
 }

 .btn_comprar:hover {
    background-color: var(--secondary-color);
    color: var(--main-color);
 }


/*=======you may also like======*/

.section_may_like {
    background-color: var(--secondary-color);
    width: 100vw;
    padding: 20px 50px 20px 50px;
}
.h4 {
   font-size: 16px;
   font-weight: bold;
   padding-bottom: 10px;
}

.second-articles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;   
}

.book {
    width: 160px; 
}


/*=======footer======*/

.footer {
    background-color: var(--main-color);
    width: 100vw;  
    display: flex;
    flex-direction: column;
    position: relative; 
}

.logo_footer {
    color: var(--secondary-color);
    font-size: 25px;
    font-weight: 600;
    padding-left: 50px;
    padding-top: 30px;
}

.h3-footer {
    font-size: 18px;
    color: var(--secondary-color);
    text-align: left;
    padding-top: 30px;
    margin-left: 146px;  
}


.text-footer a {
    font-size: 14px;
    color: var(--secondary-color);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    margin-left: 146px;  
    padding-bottom: 2px;   
}

.text-footer a:hover {
    text-decoration: underline;
}

.icons-footer {
width: 24px;
height: 26px;
position: relative;
display: flex;
flex-direction: row;
padding: 5px 5px 5px 5px;
list-style: none;
gap: 15px;
text-decoration: none;
margin-left: 141px; 
padding-top: 10px;
padding-bottom: 70px;

}
.linkedin {
color: var(--secondary-color);
}
.instagram {
color: var(--secondary-color);
 }
.twitter {
color: var(--secondary-color);
}   

.icons-footer a:hover {
    transform: scale(1.2);
}

.arrow {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 24px;
    height: 24px;
    margin-bottom: 20px;
    margin-right: 50px;  

}

.arrow-2 {
    color: var(--secondary-color);
    }



/*=======breakpoints======*/



/* tablet*/
@media screen and (min-width: 768px) {

.nav   {
    padding: 20px 100px 20px 100px;
}
   
.about {
    padding: 20px 100px 20px 100px;
    }

.cover {
    padding: 0;
    
}

.description {
    padding: 20px 100px 20px 100px; 
}



.section_may_like {
    padding: 20px 100px 40px 100px;
}
.footer { 
        padding-top: 20px;
        padding-bottom: 40px;
        padding: 20px 70px 40px 100px;
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: flex-start;   
    }

.logo_footer {
    padding-left: 0;
}

.text-footer a {
        align-items: flex-start;    
    }
    
.arrow {
        margin-bottom: 80px;
        margin-right: 100px; 
    }
}

/* for desktops, large screens. */
@media screen and (min-width: 1280px) {
  
    .nav_list a {
        color: var(--secondary-color);
    }

    .burger {
        display: none;
    }

    .nav {
        padding: 30px 300px 30px 300px;
    }

    .menu {
        position: absolute;
        display: flex;
        align-items: center;
        flex-direction: row;
        background-color: transparent;
        justify-content: flex-end;
        gap: 30px;
        top: 0;
        margin-top: 35px;
        padding-top: 10px;
        margin-right: 300px;
     }

     .menu li:hover {
        background-color: transparent;
     }

     .menu li a {
        color: var(--secondary-color);
        font-size: 18px;
        font-weight: bold;
    }
    
    .menu li a:hover {
        color: var(--additional-secondary);
        
    }

    .book_description {
        display: flex;
        padding: 30px 300px 30px 300px;
    }

    .about {
        padding: 30px 0px 0px 0px;
        width: 100%;
       
   }
   
    .cover {
        padding: 0;
        height: auto;
        max-width: 400px;
    }    

    
    h4{
        font-size: 18px;
        
    }
    
    .text-details{
        font-size: 16px;
        line-height: 2;
        margin-bottom: 20px;
    }
    
    .description {
        padding: 30px 20px 0px 60px; 
    }
    h2 {
        font-size: 32px;
        padding-bottom: 15px;
    }

    h3 {
        font-size: 25px;
        padding-bottom: 15px;
    }
     .description_first_p {
        font-size: 16px;
        padding-bottom: 15px;
        line-height: 1.5;
     }
    
     .description_second_p {
        font-size: 16px;
        line-height: 1.5;
        padding-bottom: 25px;
     }

     .btn_comprar {
        font-size: 16px;
        color: var(--secondary-color);
     }
    
    /*=======you may also like======*/
    
    .section_may_like {
        padding: 20px 300px 30px 300px;
    }

    .book {
        width: 200px; 
    }
    
    /*=======footer======*/

.footer { 
        padding: 30px 300px 30px 300px;
    }

.arrow {
        margin-right: 200px; 
    }
.nav_footer {
    padding-left: 100px;
}

.text-footer {
font-size: 15px;
line-height: 1.5;
}

}